@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Lista de Tarefas") {

	<h1>Quadro de Tarefas</h1>
	<div id="tarefas-pendentes">
		<h2>Tarefas pendentes</h2>

    @for(task <- tasks) {
        @if(task.getStatus() == "undone") {
    			<ul>
            <li>
                <b>@task.getLabel()</b>
								<div id="menor">
                Descrição: @task.getDescricao() <br> 
                Projeto: @task.getProjeto() <br> 
                Prioridade: @task.getPrioridade()
								</div>
                
                @form(routes.Application.markAsDone(task.getId())) {
                    <input type="submit" value="Marcar como feita">
                }                
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Deletar">
                }

            </li></p>
					</ul>
        }
    }
	</div>
	
	<div id="tarefas-feitas">
    <h2>Tarefas concluidas</h2>
    
    <ul>
        @for(task <- tasks) {
            @if(task.getStatus() == "done") {
            <li>
                <b>@task.getLabel()</b>
                <div id="menor">
                Descrição: @task.getDescricao() <br> 
                Projeto: @task.getProjeto() <br> 
                Prioridade: @task.getPrioridade()
								</div>
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Deletar">
                }
            </li></p>
            }
        }
    </ul>
	</div>

	<div id="nova-tarefa">
		<h2>Nova Tarefa</h2>
    
			@form(routes.Application.newTask()) {
        
				@inputText(taskForm("label"), '_label -> "Tarefa:")
				@inputText(taskForm("descricao"), '_label -> "Descrição:")
				@inputText(taskForm("projeto"), '_label -> "Projeto:")
        @inputText(taskForm("prioridade"), '_label -> "Prioridade:")
				<div id="menor">
				Prioridade variando de 1-alta a 5-baixa
				</div>
        <br><br>
        <input type="submit" value="Adicionar">
    	}
   </div>
}