@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Lista de Tarefas") {
    
    <h1>@tasks.size() tarefa(s)</h1>
    
    <ul>
        @for(task <- tasks) {
            <li>
                @task.getTarefa()
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Adicione uma nova tarefa</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("tarefa")) 
        
        <input type="submit" value="Criar">
        
    }
    
}